@using Models
@model Post

<p>@ViewBag.Message</p>

<form asp-action="Create">
    Id: <input asp-for="@Model.Id" />
    <span class="text-danger" asp-validation-for="@Model.Id">
    </span>

    UserId: <input asp-for="@Model.UserId" />
     <span class="text-danger" asp-validation-for="@Model.UserId">
    </span>

    Title: <input asp-for="@Model.Title" />
     <span class="text-danger" asp-validation-for="@Model.Title">
    </span>

    Body: <input asp-for="@Model.Body" />
     <span class="text-danger" asp-validation-for="@Model.Body">
    </span>

    <input type="submit" value="Guardar" />

</form>
